.list-group.panel {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.list-group-item {
    border: none !important;
    background-color: rgb(85, 85, 85) !important;
    font-size: 18px;
    color: white !important;
}

.list-group-item-success {
    background-color: rgb(85, 85, 85) !important;
    font-size: 20px;
    color: white !important;
    border-radius: none !important;
}

li {
    list-style: none;
}

#i4izs3 {
    margin: 0 0 0 0;
}

#i4izs3 {
    margin: 0 100px 0 0;
}

#izdchj:hover {
    background-color: #649F87;
    border-radius: 5px 5px 5px 5px;
    padding: 8px 20px 8px 20px;
    color: #f9f9f9;
    font-weight: 400;
}

#izdchj {
    padding: 8px 20px 8px 20px;
    color: inherit;
    font-size: medium;
}

#ipek5x {
    font-size: medium;
}

#sgfsd {
}

@media (max-width:768px) {
    .burger {
        display: block;
    }

    .nav-items {
        display: none;
        width: 100%;
    }

    .navbar-items {
        width: 100%;
    }

    .navbar-item {
        display: block;
    }
}

.nav-items {
    display: inline-block;
    float: right;
}

.menu-link {
    margin: 0;
    color: inherit;
    opacity: 1;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
    transition: opacity 0.25s;
    font-size: medium;
}

.menu-link:hover {
    opacity: 1;
}

#jn87dj {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.hoverable {
    position: relative;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border: 5px solid rgb(218, 214, 214);
    border-radius: 50%;
}

.hoverable .hover-text {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hoverable .background {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
}

.hoverable:hover .hover-text {
    display: block;
}

.hoverable:hover .background {
    display: block;
}

#fileInput {
    display: none;
}