<footer id="i35mb" class="gpd-section">
    <div id="template-i267u4" class="gpd-container gpd-cnt">
        <div id="iplo9g" class="gdp-row gpd-grid">
            <div id="ijj8dz" class="cell gpd-clm">
                <div id="i05ihu" class="gdp-row gpd-grid">
                    <div id="i27xll" class="cell gpd-clm">
                        <img id="i3y8m8" src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/988489dfb8df4e84a2cdc2238d0cd1c9_group_19024.png"
                        class="" />
                    </div>
                    <div id="template-i4n2p9" class="cell gpd-clm">
                        <div id="i6fl8s" class="gpd-text">
                            <div id="template-i8tzzy" class="">Lorem ipsum dolor sit amet, consectetur adipi</div>
                            <br id="template-ifchmq"
                            class="">
                            <div id="template-iqmtjb" class="">elit, sed do eiusmod tempor.</div>
                        </div>
                    </div>
                    <div id="it3vfu" class="cell gpd-clm">
                        <div id="ijl7y9" class="gdp-row gpd-grid">
                            <div id="iuf5yf" class="cell gpd-clm">
                                <img id="icrzai" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/2654d33f6dee4384807a365dc541d04a_facebook.png"
                                class="" />
                            </div>
                            <div id="i6rllx" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/b1c6c2c842d4490b93f721f73b4ff8bc_youtube.png"
                                id="irn524" class="" />
                            </div>
                            <div id="ihv7gs" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/585b60003bcb401c83e757414bafcc98_instagram.png"
                                id="idhfh2" class="" />
                            </div>
                            <div id="i95u6y" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/dd810b83e79046f499a32b30c8f6e72b_twitter.png"
                                id="i3e02g" class="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="i3dj3f" class="cell gpd-clm">
                <div id="ikbu4d" class="gdp-row gpd-grid">
                    <div id="idj8e6" class="cell gpd-clm">
                        <div id="ity0hn" class="gdp-row gpd-grid">
                            <div id="iiyvlx" class="cell gpd-clm">
                                <div id="inw6di" class="gdp-row gpd-grid">
                                    <div id="ih2uvd" class="cell gpd-clm">
                                        <div id="i1oqoa" class="gpd-text">Quick Links</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ijhgew" class="gdp-row gpd-grid">
                            <div id="ik22mf" class="cell gpd-clm">
<a id="i3dj7c" class="gpd-link">
Home</a>

                            </div>
                            <div id="ifv248" class="cell gpd-clm">
<a id="iwe5iz" class="gpd-link">
About</a>

                            </div>
                            <div id="i3uauk" class="cell gpd-clm">
<a id="i5i5sp" class="gpd-link">
Camps</a>

                            </div>
                            <div id="ifpr0l" class="cell gpd-clm">
<a id="iz2u2f" class="gpd-link">
Pricing</a>

                            </div>
                        </div>
                    </div>
                    <div id="iuv2hr" class="cell gpd-clm">
                        <div id="i7rrhs" class="gdp-row gpd-grid">
                            <div id="ie587o" class="cell gpd-clm">
                                <div id="ii4xrm" class="gdp-row gpd-grid">
                                    <div id="i78k78" class="cell gpd-clm">
                                        <div id="ikjwau" class="gpd-text">Contact</div>
                                    </div>
                                    <div id="iyxfui" class="cell gpd-clm">
                                        <div id="i7b2pk" class="gpd-text">
                                            <div id="template-i5ehhg" class="">+99 (0) 111 0022 567 Steve C.</div>
                                            <br id="template-iezyqj" class="">
                                            <div id="template-i8a3rg" class="">Amedee 2204 Patrick Street</div>
                                            <br id="template-i6u1wm" class="">
                                            <div id="template-i4p3sr" class="">Phoenix, Tx 76051</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>